{% load static %}
{% load customtags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Mangas | {{ book.title }}</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'mangalib/css/style.css' %}">
</head>
<body>
    <h1 style="color: #6992e9;">{{ book.title }}</h1>
    <p>Quantité : {{ book.quantity }}</p>
    <p>Auteur : {{ book.author.name }}</p>
    <p><a href="{% url 'mangalib:index' %}">&laquo; Revenir à la liste des livres</a></p>

</body>
</html>